matplotlib
seaborn
pandas
numpy
scikit-learn
torchtext
nltk
tqdm
tokenizers
datasets
transformers[sentencepiece]
boto3
requests
regex
sentencepiece
sacremoses
transformers[torch]
accelerate[torch]
tensorboard
sacrebleu
evaluate
ipywidgets
openpyxl
streamlit
#-e .